.updates-header{
    padding-top: 15%;
}
.blog-list-container{
    min-height:85vh;
}
.blog-entry{
    display: flex;
}

.entry-number{
    min-width: 10%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}
.blog-summary{
    margin: 15px 0;
}
.header-title{
    margin-bottom: 5%;
}

.summary-blog-title{
    color: #4b5c50;
}
.summary-subheader{
   font-weight: 300;
   margin: 0.5vh 0 1vh 0;
}

.read-more{
    color: #C75F64;
    margin-top: 15px;
    text-decoration: underline;
}

.blog-post{
    padding: 5vh 20vw;
}

.blog-post >  p{
    margin-bottom: 1em;
    font-size: 1.3em;
    line-height: 1.5em;
}

.blog-post > div >  p{
    margin-bottom: 1em;
    font-size: 1.3em;
    line-height: 1.5em;
}

.blog-post > div >  ul{
    margin-bottom: 1em;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-left: 2em;
}


.blog-post > div > p > img{
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 300px;
    display: block;
    margin: auto;
}

.blog-post > div > p > a > img{
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 300px;
    display: block;
    margin: auto;
}

.blog-title{
    text-align: center;
    font-weight: 300;
    margin-bottom: 40px;
}

.blog-date{
    text-align: center;
    font-weight: 300;
    color: #C75F64;
}
