.updates-header{
    padding-top: 15%;
}
.blog-list-container{
    min-height:55vh;
}

.blog-entry{
    display: flex;
}

.entry-number{
    min-width: 10%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.blog-summary{
    margin: 15px 0;
}
.header-title{
    margin-bottom: 5%;
}

.summary-blog-title{
    color: #4b5c50;
}
.summary-subheader{
   font-weight: 300;
   margin: 0.5vh 0 1vh 0;
}

.read-more{
    color: #C75F64;
    margin-top: 15px;
    text-decoration: underline;
}

.blog-container{
    margin-top: 10%;
}

.blog-title{
    text-align: center;
    font-weight: 300;
    margin-bottom: 40px;
}

.blog-date{
    text-align: center;
    font-weight: 300;
    color: #C75F64;
}

.content{
    font-weight: 300;
    margin-bottom: 10px;
}