footer{
    text-align: center;
    margin: 5% 0;
    font-weight: 300;
    color: #404E44;
    width: 100%;
}
footer > h5{
    margin-bottom: 5px;
}
.footer-link{
    padding: 0 20px;
    color: #C75F64;
}

.footer-menu{
    margin-bottom: 20px;
}

.footer-updated{
    font-weight: 300;
}