.landing-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
}

button {
    padding: 15px;
    font-family: 'Karla';
    text-transform: uppercase;
    border: none;
    background-color: #E7BC73;
    cursor: pointer;
    outline: none;
}

.about-section{
    display: flex;
    min-height: 100vh;
}

.inner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7vh 10vw;
}

.description-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E7BC73;
    width: 50%;
    padding: 5vh 5vw;
    font-size: 20px;
}

.description-container > h2{
    line-height: 1.8em;
    margin-bottom: 5vh;
}

.description-container > p{
    line-height: 1.8em;
    font-size: 1.2em;
} 

.image-container{
    display: flex;
    align-items: center;
    width: 50%;
    padding: 5vh 2vw;
}

.image{
    max-width: 500px;
    max-height: 500px;
    height: auto;
    width: 100%;
}

.section-title{
    margin-bottom: 5vh;
    font-size: 3em;
}
.content-container{
    display: flex; 
}
.team-photo-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.team-photo-container > img{
    max-width: 1000px;
    max-height: 1000px;
    height: auto;
    width: 100%;
}

.team-members{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    padding-left: 1vw;
    font-size: 16px;
}

.team-members > small{
    margin-bottom: 1vh;
    font-size: 0.9em;
}

.member-container{
    display: flex;
    flex-direction: column;
}


.member-container > h4{
    margin-bottom: 0.5vh;
    font-size: 1.2em;
    font-weight: 500;
}

.member-container > p {
    margin-bottom: 1.2vh;
    font-size: 1em;
}

/* .member-container:not(:first-child):not(:last-child) {
    margin: 2vh 2vw;
} */
/* 
.headshot {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    max-width: 175px;
} */

/* .member-container > h3 {
    text-align: center;
    margin: 15px 0px;
}

.member-container > p {
    font-weight: 300;
} */

@media only screen and (max-width: 1366px) {
    .description-container{
        font-size: 16px;
    }
  }