.landing-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
    text-align: center;
}

button {
    padding: 15px;
    font-family: 'Karla';
    text-transform: uppercase;
    border: none;
    background-color: #E7BC73;
    cursor: pointer;
    outline: none;
}

.about-section{
    display: flex;
    min-height: 100vh;
}

.inner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7vh 10vw;
}

.description-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E7BC73;
    width: 70%;
    padding: 5vh 5vw;
    font-size: 20px;
}

.description-container > h2{
    line-height: 1.8em;
    margin-bottom: 5vh;
}

.description-container > p{
    line-height: 1.8em;
    font-size: 1.2em;
} 

.image-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 30%;
    padding: 5vh 2vw;
}

.image{
    max-width: 300px;
    max-height: 300px;
    height: auto;
    width: 100%;
}

.section-title{
    margin-bottom: 5vh;
    font-size: 3em;
}
.content-container{
    display: flex; 
}
.team-photo-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.team-photo-container > img{
    max-width: 1000px;
    max-height: 1000px;
    height: auto;
    width: 100%;
}

.team-members{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 1vw;
    font-size: 16px;
}

.team-members > small{
    font-size: 0.9em;
}

.member-container{
    display: flex;
    flex-direction: column;
}

.member-container > h4{
    font-family: 'Rubik';
    margin-bottom: 0.5vh;
    font-size: 1.5em;
}

.member-container > p {
    margin-bottom: 1.2vh;
    font-size: 1.1em;
}


.progress-button{
    text-transform: lowercase;
    font-size: 1.5em;
    text-align: left;
    padding: 0;
    cursor: pointer;
    margin-top: 1.5em;
    text-decoration: underline;
}

@media only screen and (max-width: 766px) {
    .description-container{
        font-size: 16px;
        width: 100%;
    }
    .member-container {
        margin-bottom: 1.2vh;
        font-size: 14px;
    }
    .content-container{
        display: flex; 
        flex-direction: column;
    }
    .image-container{
        width:0;
        padding: 0;
    }

    .team-photo-container{
        width: 100%;
    }

    .team-members {
        width: 100%;
    }
  }