.App {
  width: 100%;
  height: 100%;
  color: #404E44;
  font-family: 'Karla';
  font-weight: 700;

}
.header{
  width: 100%;
  height: 150px;
  padding: 30px 70px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

h1{
  font-family: 'Rubik';
  font-size: 2.2em;
}
.header-name{
  display:flex;
  align-items: center;
}
.nav{
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.nav > div{
  margin: 30px;
}

.link{
  text-decoration: none;
  font-size: 1em;
  color: #404E44;
}

.active{
  text-decoration: underline;
}
